extends ../layouts/layout-other.pug

block breadcrumbs
  -let list = ['ГОЛОВНА', 'ПОДІЇ', ' МІЖНАРОДНІ ВИСТАВКИ']

mixin event(data)
  article.event
    span.event__title= data.title
    h3.event__subtitle= data.subtitle 
    time.event__data(datetime=data.time)= data.time
    span.event__locate= data.locate
    h3.event__name= data.name
    span.enent__organizes= data.organizes
    if(data.list != underfined)
      ul.event__list
        each item in data.list
          li.event__item= item
    a.event__more(href='javascript:void(0)') деталі з питань участі за телефоном
    if(data.contact != underfined)
      each item in data.contact
        span.event__contacts= item
    .event__picture
      img.picture(src=data.src, alt=data.title)

block page-contact
  .pages-other.event
    .pages-other__container.container
      h2.pages-other__title МІЖНАРОДНІ ВИСТАВКИ
      .pages-other__body
        .events__content
          +event({
            'title': 'Міжнародний агроярмарок ',
            'subtitle': 'AGRI TRAVEL & SLOW TRAVEL EXPO ',
            'time': '16-18 лютого 2018 року ',
            'locate': 'Італія, Бергамо',
            'name': 'Туризм, Агротуризм і Культура крізь призму їжі',
            'src': 'img/events1.png'
          })
          +event({
            'title': 'Міжнародний агроярмарок ',
            'subtitle': 'AGRI TRAVEL & SLOW TRAVEL EXPO ',
            'time': '16-18 лютого 2018 року ',
            'locate': 'Італія, Бергамо',
            'name': 'Туризм, Агротуризм і Культура крізь призму їжі',
            'organizes': 'Представництво ТПП України в Італії організує для Вас: ',
            'list': ['переліт Київ-Мілан-Київ ','трансфер Мілан-Болонья-Мілан ','готель 3* ', 'перекладач Замовлення '],
            'contact': ['Замовлення приймаються до 1 березня 2018 (включно). ', 'За додатковою інформацією просимо звертатися за телефоном: +39 02 993 71013 ', 'або за електронною поштою: nizhynska.iryna@gmail.com'],
            'src': 'img/events1.png'
          })
