extends ../layouts/layout.pug

mixin title(data)
	.title
		h2.title__text= data
		a.title__more(href="javascript:void(0);") ...

mixin slider(data)
	a.slider__item(href='#')
		img(src=data).picture.picture--slider
		
mixin news(data)
	each post in data.news
		a.news(href='news-inner.html')
			.news__picture
				img.picture.picture--full(src=post.src)
			.news__content
				p.news__title= post.title
				span.news__data= post.data
				.news__more Докладніше ...
				
mixin services(data)
	each service in data.services
		a.service.service--main(href='services-inner.html')
			.service__body
				.service__icon
					img.picture.picture--full(src=service.src)
				span.service__title= service.title
				
block page-content
	<!-- start section slider-->
	section.slider.container
		+slider('img/slider.jpg')
		+slider('img/slider.jpg')
		+slider('img/slider.jpg')
	<!-- end section slider-->
	<!-- start section top-news-->
	section.top-news.container
		.top-news__container
			+news({'news':[{
				'src': 'img/news1.jpg',
				'title': 'Відкриття офісу представника Торгово-промислової палати України в Мілані',
				'data': 'листопад 2017 року'
			},{
				'src': 'img/news1.jpg',
				'title': ' Lorem ipsum dolor sit amet, consectetur adipisicing.',
				'data': 'листопад 2017 року'
			},{
				'src': 'img/news1.jpg',
				'title': ' Lorem ipsum dolor sit amet, consectetur adipisicing.',
				'data': 'листопад 2017 року'
			}
			]})
	<!-- end section top-news-->
	<!-- start section services-->
	section.services.container
		+title('ПОСЛУГИ')
		.services__container
			+services({'services':[{
				'src': 'img/service1.png',
				'title': 'ОРГАНІЗАЦІЯ МІЖНАРОДНОГО ЕКОНОМІЧНОГО СПІВРОБІТНИЦТВА'
			},{
				'src': 'img/service1.png',
				'title': ' Lorem ipsum dolor sit amet.'
			},{
				'src': 'img/service1.png',
				'title': ' Lorem ipsum dolor sit amet.'
			},{
				'src': 'img/service1.png',
				'title': ' Lorem ipsum dolor sit amet.'
			},{
				'src': 'img/service1.png',
				'title': ' Lorem ipsum dolor sit amet.'
			},{
				'src': 'img/service1.png',
				'title': ' Lorem ipsum dolor sit amet.'
			},{
				'src': 'img/service1.png',
				'title': ' Lorem ipsum dolor sit amet.'
			},{
				'src': 'img/service1.png',
				'title': ' Lorem ipsum dolor sit amet.'
			},{
				'src': 'img/service1.png',
				'title': ' Lorem ipsum dolor sit amet.'
			},{
				'src': 'img/service1.png',
				'title': ' Lorem ipsum dolor sit amet.'
			},{
				'src': 'img/service1.png',
				'title': ' Lorem ipsum dolor sit amet.'
			},{
				'src': 'img/service1.png',
				'title': ' Lorem ipsum dolor sit amet.'
			},{
				'src': 'img/service1.png',
				'title': ' Lorem ipsum dolor sit amet.'
			},{
				'src': 'img/service1.png',
				'title': ' Lorem ipsum dolor sit amet.'
			},{
				'src': 'img/service1.png',
				'title': ' Lorem ipsum dolor sit amet.'
			}
			]})
			a.more(href="services.html") Усі послуги
	<!-- end section services-->
	<!-- start section section-news-->
	section.section-news.container
		+title('Новини')
		.section-news__container
			+news({'news':[{
				'src': 'img/news1.jpg',
				'title': ' Lorem ipsum dolor sit amet, consectetur adipisicing.',
				'data': 'листопад 2017 року'
			},{
				'src': 'img/news1.jpg',
				'title': ' Lorem ipsum dolor sit amet, consectetur adipisicing.',
				'data': 'листопад 2017 року'
			},{
				'src': 'img/news1.jpg',
				'title': ' Lorem ipsum dolor sit amet, consectetur adipisicing.',
				'data': 'листопад 2017 року'
			},{
				'src': 'img/news1.jpg',
				'title': ' Lorem ipsum dolor sit amet, consectetur adipisicing.',
				'data': 'листопад 2017 року'
			},{
				'src': 'img/news1.jpg',
				'title': ' Lorem ipsum dolor sit amet, consectetur adipisicing.',
				'data': 'листопад 2017 року'
			},{
				'src': 'img/news1.jpg',
				'title': ' Lorem ipsum dolor sit amet, consectetur adipisicing.',
				'data': 'листопад 2017 року'
			}
			]})
			a.more(href="news.html") Усі новини
		<!-- end section section-news-->
