extends ../layouts/layout.pug

mixin title(data)
	.title
		h2.title__text= data
		a.title__more(href="javascript:void(0);") ...

mixin slider(data)
	a.slider__item(href="javascript:void(0);")
		img.picture.picture--full-width(src=data)
		
mixin news(data)
	each post in data.news
		article.news
			a.news__link(href='javascript:void(0);')
				.news__picture
					img.picture(src=post.src)
				.news__content
					p.news__title= post.title
					span.news__data= post.data
				
mixin services(data)
	each service in data.services
		a.service(href='javascript:void(0);')
			.service__body
				.service__icon
					img.picture.picture--full(src=service.src)
				span.service__title= service.title
				
block page-content
	section.slider.container
		+slider('img/slider.jpg')
		+slider('img/slider.jpg')
		+slider('img/slider.jpg')
	section.top-news.container
		.top-news__container
			+news({'news':[{
				'src': '/img/news1.jpg',
				'title': ' Lorem ipsum dolor sit amet, consectetur adipisicing.',
				'data': 'листопад 2017 року'
			},{
				'src': '/img/news1.jpg',
				'title': ' Lorem ipsum dolor sit amet, consectetur adipisicing.',
				'data': 'листопад 2017 року'
			},{
				'src': '/img/news1.jpg',
				'title': ' Lorem ipsum dolor sit amet, consectetur adipisicing.',
				'data': 'листопад 2017 року'
			}
			]})

	section.services.container
		+title('ПОСЛУГИ')
		.services__container
			+services({'services':[{
				'src': 'img/service1.png',
				'title': 'ОРГАНІЗАЦІЯ МІЖНАРОДНОГО ЕКОНОМІЧНОГО СПІВРОБІТНИЦТВА'
			},{
				'src': 'img/service1.png',
				'title': ' Lorem ipsum dolor sit amet.'
			},{
				'src': 'img/service1.png',
				'title': ' Lorem ipsum dolor sit amet.'
			},{
				'src': 'img/service1.png',
				'title': ' Lorem ipsum dolor sit amet.'
			},{
				'src': 'img/service1.png',
				'title': ' Lorem ipsum dolor sit amet.'
			},{
				'src': 'img/service1.png',
				'title': ' Lorem ipsum dolor sit amet.'
			},{
				'src': 'img/service1.png',
				'title': ' Lorem ipsum dolor sit amet.'
			},{
				'src': 'img/service1.png',
				'title': ' Lorem ipsum dolor sit amet.'
			},{
				'src': 'img/service1.png',
				'title': ' Lorem ipsum dolor sit amet.'
			},{
				'src': 'img/service1.png',
				'title': ' Lorem ipsum dolor sit amet.'
			},{
				'src': 'img/service1.png',
				'title': ' Lorem ipsum dolor sit amet.'
			},{
				'src': 'img/service1.png',
				'title': ' Lorem ipsum dolor sit amet.'
			},{
				'src': 'img/service1.png',
				'title': ' Lorem ipsum dolor sit amet.'
			},{
				'src': 'img/service1.png',
				'title': ' Lorem ipsum dolor sit amet.'
			},{
				'src': 'img/service1.png',
				'title': ' Lorem ipsum dolor sit amet.'
			}
			]})

	section.section-news.container
		+title('Новини')
		.section-news__container
			+news({'news':[{
				'src': '/img/news1.jpg',
				'title': ' Lorem ipsum dolor sit amet, consectetur adipisicing.',
				'data': 'листопад 2017 року'
			},{
				'src': '/img/news1.jpg',
				'title': ' Lorem ipsum dolor sit amet, consectetur adipisicing.',
				'data': 'листопад 2017 року'
			},{
				'src': '/img/news1.jpg',
				'title': ' Lorem ipsum dolor sit amet, consectetur adipisicing.',
				'data': 'листопад 2017 року'
			},{
				'src': '/img/news1.jpg',
				'title': ' Lorem ipsum dolor sit amet, consectetur adipisicing.',
				'data': 'листопад 2017 року'
			},{
				'src': '/img/news1.jpg',
				'title': ' Lorem ipsum dolor sit amet, consectetur adipisicing.',
				'data': 'листопад 2017 року'
			},{
				'src': '/img/news1.jpg',
				'title': ' Lorem ipsum dolor sit amet, consectetur adipisicing.',
				'data': 'листопад 2017 року'
			}
			]})
